[Unit]
Description=Run bee movie bomb 

[Service]
Type=simple
WorkingDirectory=/home/dan/bskybots/beemoviebot
Environment="HOME=/home/dan"
ExecStart=/bin/bash -l -c 'PATH=/home/dan/go/bin/:$PATH bash beemoviebomb.sh'
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target