[Unit]
Description=Run honkbot service

[Service]
Type=simple
WorkingDirectory=/home/dan/honkbot
Environment=PATH=/home/dan/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/dan/go/bin/
ExecStart=/bin/bash -l /home/dan/honkbot/honkr.sh


[Install]
WantedBy=multi-user.target