[Unit]
Description=Run meme bot service

[Service]
Type=simple
WorkingDirectory=/home/dan/bskybots/memebot
Environment="HOME=/home/dan"
ExecStart=/bin/bash -l -c 'PATH=/home/dan/go/bin/:$PATH bash memebot.sh'
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target